.type-post {
  border-left: 3px solid red;
  padding-left: 28px;
  margin-left: 24px;
  word-wrap: break-word;
}

.entry-content {
  height: 126px;
  overflow-y: hidden;
}

.blog-title {
  text-align: center;
}

.hero-section {
  padding-bottom: 30px;
  height: 400px;
}

@media (max-width: 768px) {
  .post-meta {
    text-align: center;
  }
}
