.entry-title {
    width: 90%;
    max-width: 768px;
    margin: auto;
    margin-top: 80px;
}

.post-edit-link {
    display: none;
}

.entry-meta {
    width: 90%;
    max-width: 768px;
    margin: auto;
}

.entry-content {
    width: 90%;
    max-width: 768px;
    margin: auto;
}

.comments {
    width: 90%;
    max-width: 768px;
    margin: auto;
}

.comment-respond {
    width: 90%;
    max-width: 768px;
    margin: auto;
}

.submit {
    padding: 1rem;
    /*font-size: 1.2rem;*/
    text-transform: none;
    margin-top: 5px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background-color: #f56363;
    line-height: 1.5;
    border: none;
    border-radius: 3px;
    font-weight: 400;
    text-transform: uppercase;
    /*transition: all 0.3s ease-in-out;*/
}

hr {
    width: 90%;
    max-width: 768px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.entry-footer {
    width: 90%;
    max-width: 768px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
}

.comment-respond {
    /*display: none;*/
}

.btn-single{
    padding: 1rem;
    font-size: 1.2rem;
    text-transform: none;
    margin-top: 5px;
}

.navbar-default {
    background-color: #f56363;
}

.meta-sep {
    display: none;
}

.comments-link {
    display: none;
}

.navbar {
    margin-top: 0px;
}

.container {
    height: 100%;
    clear: both;
}

.suggestions{
    text-align: center;
}
.feed-link{
  text-align: center;
}

.site-footer small, .footer-links a {
    font-weight: 300;
    font-size: 18px;
}

.hero-section {
    background-image: none;
    background-color: #f56363;
    padding-bottom: 0px;
    height: 120px;
}

.hero-section::before {
    background: rgba(0, 0, 0, 0);
}

h2 {
    display: inline-block;
    border-bottom: 3px solid #f56363;
}

@media (max-width: 768px) {
    .post-meta {
        text-align: center;
    }
    n::before {
        background: rgba(0, 0, 0, 0);
    }
}

@media (max-width: 768px) {
    .post-meta {
        text-align: center;
    }
